## 분석 환경 조성

In [1]:
# 워킹 디렉토리 확인 
import os 
os.getcwd()

'C:\\Users\\50008393\\Desktop'

In [ ]:
# 객체 속성 및 메소드 정보 확인
dir(pd)
# 함수 사용법 확인
help(int)

In [6]:
# 도움말 찾기
a = 'string' # a라는 변수에 string을 입력
dir(a) # a라는(문자열) 변수에 쓸 수 있는 method 조회
help(a.upper) # a 변수에 upper method 설명

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# print를 하지 않아도 행을 모두 보여줌
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Columns를 생략 없이 모두 보여줌
from IPython.display import display
pd.options.display.max_columns = None

In [ ]:
# 한글 표기
import matplotlib.pyplot as plt
%matplotlib inline
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothc')
elif platform.system() == 'Windows':
    path="c:/Windows/Fonts/malgun.ttf"
    font_name=font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')

## 파일읽기

### CSV, TSV, TXT 파일 : 대부분의 경우 pandas의 read_csv로 오픈 가능  
읽기 : data= pd.read_csv("파일명",header = None)  
- header 지정 없어도됨, 파일에 변수명 같이 있는 경우 header = True 하면 같이 불러옴 
- names = [' ', ' ',,,,] 해서 칼럼명 추가할 수 있음 
- pd.read_table('파일명',sep = ',')이것도 동일한 의미 <- Tab 파일이라면 sep = '|t' 
- TSV 파일: dataset = pd.read_csv("train.tsv", delimiter='\t', header=0) <- TSV를 불러내는 별도의 함수는 없고 CSV를 사용 

쓰기 : data.to_csv

###  pandas 안 먹히는 경우 --> 파이썬으로 열어보기, 중첩 리스트 형태로 정리해보기 그럼 대부분 해결 가능 
data = open('파일명','r) 
line = data.read()  <- 경우에 따라서 readline, readlines모두 사용 가능 
line = line.split('|n')

for i in range(0, len(line)): 
    line[i] = line[i].split(',')
    line[i] = [int(line[i][0]),int(line[i][1]),...]

### 텍스트파일 전처리관련 파이썬 정규표현식 

\d - 숫자와 매치, [0-9]와 동일한 표현식이다.

\D - 숫자가 아닌 것과 매치, [^0-9]와 동일한 표현식이다.

\s - whitespace 문자와 매치, [ \t\n\r\f\v]와 동일한 표현식이다. 맨 앞의 빈 칸은 공백문자(space)를 의미한다.

\S - whitespace 문자가 아닌 것과 매치, [^ \t\n\r\f\v]와 동일한 표현식이다.

\w - 문자+숫자(alphanumeric)와 매치, [a-zA-Z0-9_]와 동일한 표현식이다.

\W - 문자+숫자(alphanumeric)가 아닌 문자와 매치, [^a-zA-Z0-9_]와 동일한 표현식이다.

In [ ]:
# csv read
pd.read_csv('경로/파일이름.csv', encoding = 'cp949') 
# encoding : utf-8
# sep = ','
# 경우에 따라 engine = 'python'
# skipinitialspace = True : 구분자 양쪽 공백 제거

# csv write
df.to_csv('./data/df.csv', header = True, index = False, encoding = 'cp949')

In [33]:
# xlsx read
pd.read_excel('파일이름.xlsx', sheet_name = 'Sheet1', header = 0)

#xlsx write
df.to_excel('파일이름.xlsx', sheet_name = 'Sheet1')

Index(['감가율', '거래량 희박', '국산/수입', '기간', '기준신차가', '기준월식', '기준주행거리', '날짜', '년도',
       '당월시세', '등급명', '등급코드', '모델그룹', '모델명', '모델명 전체', '모델코드', '배기량', '비고',
       '세부등급명', '세부등급코드', '신차가격', '연료', '연식', '연식매물수', '영문등급명', '영문모델명',
       '영문모델명.1', '영문세부등급명', '영문제조사명', '오릭스 모델', '인승', '잔가율', '전월시세', '제조사명',
       '제조사코드', '차종', '참고시세'],
      dtype='object')

### 확장자가 h5인 파일 열기

In [ ]:
#read_hdf
pd.read_hdf('파일이름.h5', key='기준컬럼').set_index('날짜형식_컬럼').sort_index()

## data 생성하기

In [10]:
# array 생성 
a = np.array([1,2,3,4])
#모양 바꾸기 
a.reshape(2,2)

array([[1, 2],
       [3, 4]])

In [3]:
# Dataframe 만드는 법
# np.nan으로 NaN 값도 넣을 수 있음
data = {'name': ['Jason', 'Molly', np.nan, 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  year  reports
Cochice     Jason  2012        4
Pima        Molly  2012       24
Santa Cruz    NaN  2013       31
Maricopa     Jake  2014        2
Yuma          Amy  2014        3

In [ ]:
# 컬럼 이름 개별 변경
df = df.rename(columns = {'Column Name': 'New Name'})

## Data 확인하기

In [ ]:
type(변수)
#dictionary 
d.keys()
d.values()
d.items()
# array 
a.shape
a.dtype 
# df 
df.head()
df.tail()
df.shape
df.columns
df.dtypes 
df. describe()

## 결측치 처리

In [ ]:
# na 처리 : dropna(), fillna()
df.dropna() # nan이 하나라도 들어간 행은 삭제
df.dropna(how = 'all') # 데이터가 모두 nan인 행만 삭제
df.fillna(0) # nan을 0으로 채우기

new_data = {'a':0, 'b':1, 'c':-999}
df.fillna(new_data) # a 열에는 0, b 열에는 1, c 열에는 -999로 채움
df.fillna(new_data, limit = 2) # 각 열별로 2개의 nan까지 대체
df.fillna(method = 'ffill') # 열 별로 바로 앞의 데이터로 채움
df.fillna(method = 'bfill') # 열 별로 바로 뒤의 데이터로 채움
# ffill의 경우 첫 행이거나, 앞의 데이터가 nan일 경우 nan유지. bfill도 반대로 동일

## 데이터 조회하기

In [ ]:
# 열기준 
df['칼럼명']
# 두 개의 칼럼 동시 조회
df[['gpa', 'gre']].head()
# 중복 제거 .unique()
df['admit'].unique()

In [4]:
# 행기준 : iloc 사용
df.iloc[:,2]
# 행번호 1~3 조회 : 범위로 조회하면 dataframe
df.iloc[1:3]

Cochice        4
Pima          24
Santa Cruz    31
Maricopa       2
Yuma           3
Name: reports, dtype: int64

             name  year  reports
Pima        Molly  2012       24
Santa Cruz    NaN  2013       31

In [ ]:
# loc 사용
df.loc[:,'name']
# loc + 조건
df.loc[df['name']=='Tina',['year','reports']]

In [ ]:
#조건으로 
df[(df['칼럼']> 3.0) & (df['칼럼'] == 3)] 
df[sales['칼럼'] == 2016].groupby('Month')['Amt'].sum()

In [ ]:
# 열 이름 바꾸기
df.columns = new_name_list

In [26]:
a.head()

,감가율,거래량 희박,국산/수입,기간,기준신차가,기준월식,기준주행거리,날짜,년도,당월시세,...,영문세부등급명,영문제조사명,오릭스 모델,인승,잔가율,전월시세,제조사명,제조사코드,차종,참고시세
0,-0.029950083194675542,NaN,NaN,NaN,NaN,NaN,NaN,12/31,2015.0,4664000.0,...,Luxury,Hyundai,NaN,NaN,NaN,4808000,현대,1.0,NaN,NaN
1,-0.02999117906498089,NaN,NaN,NaN,NaN,NaN,NaN,12/31,2015.0,6598000.0,...,Luxury,Hyundai,NaN,NaN,NaN,6802000,현대,1.0,NaN,NaN
2,-0.00991869918699187,NaN,NaN,NaN,NaN,NaN,NaN,12/31,2015.0,6089000.0,...,Fancy Pack I,Hyundai,NaN,NaN,NaN,6150000,현대,1.0,NaN,NaN
3,-0.029927395077032053,NaN,NaN,NaN,NaN,NaN,NaN,12/31,2015.0,5478000.0,...,PREMIER,Hyundai,NaN,NaN,NaN,5647000,현대,1.0,NaN,NaN
4,-0.010026832368309561,NaN,NaN,NaN,NaN,NaN,NaN,12/31,2015.0,7010000.0,...,PREMIER,Hyundai,NaN,NaN,NaN,7081000,현대,1.0,NaN,NaN

In [ ]:
# 중요 - For loop에 쓸 수 있는 좋은 함수
# var()은 문자열에 변수를 담을 때 사용하고,
# locals()는 문자열을 변수로 인식하여 method를 사용할 수 있다.

vars()['df_{}_{}'.format(19, 4)] = pd.read_excel('./data/{}({}).xlsx'.
                                                 format(19, 4), header=0)
# 'df_19_4'라는 문자열을 df_19_4라는 변수로 만들고, 
# 여기에 19(4).xlsx를 담음

dfl = 'df_19_4'
locals()[dfl].columns
# 'df_19_4'라는 문자열을 변수화하고, columns method를 조회

## Dataframe 정렬, 인덱싱

In [ ]:
# 인덱스 기준 정렬
df.sort_index(axis = 0)
# 값 기준 정렬
df.sort_values(by=['A', 'C'], ascending = False)
# 특정 컬럼의 값으로 정렬
df.sort_values(by=['admit', 'gpa'], ascending=[False, True])
# 값 count
df['A'].value_counts()
# 값 포함여부확인
df['A'].isin(['alpha', 'beta'])

In [ ]:
# 인덱스 0부터 다시 시작
df.reset_index(drop=True)
# 인덱스 -> 컬럼
df.reset_index(level=0, inplace = True)
# 또는
df['index1'] = df.index
# 컬럼 -> 인덱스
df.set_index('column_name', inplace=True)

In [3]:
# 다중 인덱스
np.random.seed(0)
df3 = pd.DataFrame(np.round(np.random.randn(5, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C1", "C2", "C1", "C2"]])
df3

      A           B
     C1    C2    C1    C2
0  1.76  0.40  0.98  2.24
1  1.87 -0.98  0.95 -0.15
2 -0.10  0.41  0.14  1.45
3  0.76  0.12  0.44  0.33
4  1.49 -0.21  0.31 -0.85

In [6]:
# 다중인덱스에 이름 붙이기
df3.columns.names = ["Cidx1", "Cidx2"]
df3
# 한 줄 불러올 때
# df3[("B", "C1")]
# df3.loc[0, ("B", "C1")]

# iloc는 인덱스 없이 불러와짐
# df3.iloc[0,2] --> 0.98

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      1.76  0.40  0.98  2.24
1      1.87 -0.98  0.95 -0.15
2     -0.10  0.41  0.14  1.45
3      0.76  0.12  0.44  0.33
4      1.49 -0.21  0.31 -0.85

In [5]:
# 다중 행 인덱스 + 이름 붙이기
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [ ]:
# 다중 인덱스의 인덱스 순서(레벨) 교환 : swaplevel(i, j, axis)
df5 = df4.swaplevel("Ridx1", "Ridx2", 1)
# 다중 인덱스의 정렬
df6.sort_index(axis=1, level=0)

In [ ]:
# 행 인덱스 -> 열 인덱스 : stack()
df4.stack("Cidx1")
df4.stack(1)
# 열 인덱스 -> 행 인덱스 : unstack()
df4.unstack("Ridx2")
df4.unstack(0)

## 날짜데이터 다루기

In [1]:
# string -> datetime
# 첫 번째 방법 - raw data가 잘 정리 되어 있을 경우
df['Date'] = pd.to_datetime(df['Date'])
pd.to_datetime('2.1.2011') # 2011년 2월 1일
pd.to_datetime('2.1.2011', dayfirst=True) # 2011년 1월 2일

# 두 번째 방법
import datetime
date_time_str = 'Jun 28 2018  7:40AM'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%b %d %Y %I:%M%p')
# 2018-09-15 00:01:14
# %Y-%m-%d %H:%M:%S
print('Date:', date_time_obj.date())  
print('Time:', date_time_obj.time())  
print('Date-time:', date_time_obj)

Date: 2018-06-28
Time: 07:40:00
Date-time: 2018-06-28 07:40:00

In [8]:
# timestamp -> datetime
from datetime import datetime
import time
d = datetime.fromtimestamp(time.time()) #time.time()이 timestamp 형태
print(d)

# 현재 시각
time.time()
# timestamp 만들기 = 초 * 분 * 시 * 일
timestamp = 60 * 60 * 24 * 30 # 2592000

1558687253.4390352

In [ ]:
# datetime
# Type이 날짜 형식인 경우
a.month # 월 추출
a.dt.day_name() # 요일

## 데이터타입 변경하기

In [ ]:
# Pandas에서 데이터프레임 dtype 변경하기
df['A'].astype('float')
df['B'].astype('int')
pd.to_numeric(df['C'])
pd.to_numeric(pd.Series(['1','2','a']), errors='ignore') # 'a'가 그대로 반환됨
pd.to_numeric(pd.Series(['1','2','a']), errors='coerce') # 'a'가 nan으로 반환됨
pd.to_datetime()
pd.to_timedelta()

In [ ]:
# apply, map 함수

# map은 Dataframe Series의 값 하나하나에 함수를 적용할 때 사용
df['B']  = df['A'].map(lambda x : my_func(x)) # x는 df['A']의 값

# apply는 Datafram 각 행의 여러 컬럼에 함수를 적용할 때 사용
df['C'] = df.apply(lambda x: my_func(x['A'], x['B']), axis=1)
# x는 df의 각 행, A, B는 컬럼

In [7]:
# str to list
string = "apple is a fruit"
list = string.split()
print(list)

# list to str
string = ' '.join(list)
print(string)

['apple', 'is', 'a', 'fruit']
apple is a fruit

##  시각화

In [ ]:
# Seaborn
fig, axes = plt.subplots(figsize=(15,8), ncols=1, nrows=1) # figure 사이즈, 개수 설정
fig.savefig('./data/{}.png'.format(col), format='png') # 차트 저장

In [ ]:
# Pandas 숫자 출력 포맷팅
# https://financedata.github.io/posts/pandas-display-format.html
# 과학적 표기법(Scientific notation)을 사용하지 않는 경우
pd.set_option('display.float_format', '{:.2f}'.format)
# 과학적 표기법(Scientific notation)
pd.set_option('display.float_format', '{:.2e}'.format)
pd.set_option('display.float_format', '${:.2g}'.format)  # 적당히 알아서
pd.set_option('display.float_format', None) # 원상복귀

## DataFrame 합치기

In [ ]:
# df 옆으로 합치기
# merge on index
pd.merge(df1, df2, how='outer', left_index=True, right_index=True)
# merge on cols : cols를 key로 사용
pd.merge(df1, df2, on = 'col1')
pd.merge(df1, df2, on = ['col1','col2'])
pd.merge(df1, df2, on = 'col1', how = 'outer') # 합집합
pd.merge(df1, df2, on = 'col1', how = 'left') # 있는 데이터만 left join

# 단순 합치기
df_new = pd.concat([df, df_rank], axis=1) # 합치기

In [4]:
# df 밑으로 합치기
# concat
s1 = pd.Series([0,1], index=['a','b'])
s2 = pd.Series([2,3,4], index=['c','d','e'])
s3 = pd.Series([5,6], index=['f','g'])

pd.concat([s1,s2,s3]) # 단순히 index와 Series가 연결됨

# Dataframe 형태로 index에 따라 연결
pd.concat([s1,s2,s3], axis=1, keys=['col1','col2','col3'], sort=False)

pd.concat([df3, df4], axis=1) # df 열방향 병합
pd.concat([df3, df4], ignore_index=True) # df 행방향 병합, index를 새로 매김

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

   col1  col2  col3
a   0.0   NaN   NaN
b   1.0   NaN   NaN
c   NaN   2.0   NaN
d   NaN   3.0   NaN
e   NaN   4.0   NaN
f   NaN   NaN   5.0
g   NaN   NaN   6.0

## 중복제거

In [ ]:
# DataFrame 중복 row 제거

df.duplicated() # 중복 여부 boolean 형태로 반환
df.drop_duplicates() # 행 내용이 동일한 경우 제거
df.drop_duplicates(['col1'], keep='last') # col1기준 중복값중 마지막만 남겨둠

## 기타 숫자 다루기

In [1]:
# string 앞에 0으로 자릿수 맞춰주기
'aa'.zfill(5)

'000aa'

In [7]:
# 소수점 자리 제한
'{:.2f}'.format(12.3333)

'12.33'

## 딕셔너리

In [6]:
dic1 = {'a':50, 'b':100, 'c':200}
dic2 = {'c':'hey', 'd':'apple', 'e':'wassup'}

In [10]:
# 딕셔너리 추가
dic1[5] = 600 # 여기서 5는 순서가 아니라 그냥 문자열처럼 키값임
dic1

{'a': 50, 'b': 100, 'c': 200, 5: 600}

In [11]:
# 딕셔너리 삭제
del dic1['a']
dic1

{'b': 100, 'c': 200, 5: 600}

In [12]:
# 딕셔너리 병합
dic1.update(dic2)
dic1

{'b': 100, 'c': 'hey', 5: 600, 'd': 'apple', 'e': 'wassup'}

## 파일 읽고 쓰기

### 기본 Open

In [ ]:
f = open('ABBA.mp3','rb')
data = f.read()    # bytes
f.close()

f = open('ABBA-copy.mp3','wb')
f.write(data)
f.close()

### Pickle 활용

In [ ]:
import pickle
# Dump(저장)
list = ['a', 'b', 'c']
with open('list.txt', 'wb') as f:
    pickle.dump(list, f)

# Load(불러오기)
with open('list.txt', 'rb') as f:
    data = pickle.load(f) # 단 한줄씩 읽어옴
data

# Elice Level 1

In [ ]:
# 조건부 검색 : query 사용
df[df['col1']>0.5 & df['col2']==0.3]
df.query('col1>0.5 and col2==0.3') # 같은 표현

In [ ]:
# 문자열 데이터 탐색
df['col1'].str.contains('Lemon') # 포함 여부
df['col2'].str.match('Lemon') # 일치 여부

In [ ]:
# aggregate
df.groupby('key').aggregate(['min', np.median, max]) # 열별 min, median, max
df.groupby('key').aggregate({'data1': 'min', 'data2': np.sum}) # 열 각각에 대해 다른 요약 적용

# filter
def filter_by_mean(x):
    return x['data2'].mean() > 3
df.groupby('key').filter(filter_by_mean) # 함수 결과 True만 필터링

# apply
df.groupby('key').apply(lambdax: x.max() - x.min()) # 열별 max-min을 apply

# get_group
df.groupby("시도").get_group("충남") # '시도'가 충남인 것만 출력

# pivot table
df.pivot_table(
    index='sex',
    columns='class',
    values=['survived','col4'],
    aggfunc=np.mean)